extends layout
block content 
  h1 Dashboard

  input#file_input(type='file')
  p#status Please select a file
  form(method='POST', action='/new')
    input#image(type='hidden', name='image', value='/public/images/default.png')
    |     
    input(type='text', name='caption', placeholder='Caption')
    br
    |     
    input(type='text', name='title', placeholder='Title')
    br
    p Is this photo in a group?
    input(type='checkbox', name='group')
    br
    |     
    input(type='submit', value='Update profile')
      
  script(type='text/javascripts', src="/javascripts/limbo/s3upload.js")
  script(type='text/javascripts', src="/javascripts/limbo/dashboardUpload.js")