doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor.min.css')
    script(type='text/javascript', src='/javascripts/vendor.min.js')
    script(type='text/javascripts', src="/javascripts/s3upload/s3upload.js")
    
  body
  #navcontainer
    ul#navlist
      a(href='/'): li home
      a(href='/about'): li about

  block content