doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.nav-list
      a(href='/'): li home
      a(href='/about'): li about
    block content