a {
  color: #00B7FF;
  text-decoration: none;
}
a:active {
    text-decoration: underline !important;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.blog-image {
  display: block;
  margin: auto;
  max-width: 500px;
  margin-bottom: 20px;
}
h1 {
  text-align: center
}
.image-container {
  list-style-type: none;
  display: block;
}
.nav-list {
  list-style-type: none;
}
.nav-list > li {
  display: inline !important;
}
#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}